* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.section {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    padding-top: 70px;
    margin-bottom: 70px;
}

.content h1,
.content h4,
.content h5,
.content h6 {
    font-family: Roboto;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.content p {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center; 
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #444545;
    line-height: 18px;
    margin-bottom: 30px; 
    width: 100%;      
}
 .hexagon {
    display: none;
 }

.hexagon2 {
    position: absolute;
} 

.hexagon img {
    width: 100%;
    height: auto;
    display: block;
}

.content .time_schedule {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center; 
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 18px;
    margin-bottom: 30px; 
    width: 100%;      
}

.subtitle::before,
.subtitle::after {
    content: '';
    flex-grow: 0.5;
    border: 1px solid #444545;
    margin: 0 20px;
    max-width: 30px;
    width: 100%;    
}

.time_schedule::before,
.time_schedule::after {
    content: '';
    flex-grow: 0.5;
    border: 1px solid #FFFFFF;
    margin: 0 20px;
    max-width: 30px;
    width: 100%;    
}
.container {
    position: relative;
    background-image: url("../img/backdround.png");
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 841.11px;
}

.header {
    background-image: url("../img/stocksun_logo.png");
    background-repeat: no-repeat;
    position: absolute;
    background-size: 186.78px 48.6px;
    background-size: contain;
    top: 2%;
    left: 3%;
    width: 100%;
    height: 48.6px;
    opacity: 1;
}

.logo {
    height: auto;
    z-index: 1;
}

.sub-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    width: 100%;
    height: 3px;
    margin: 25px 0;
    text-align: center;
    color: #FFFFFF;   
}

.kv {
    background-image: url("../img/kv.svg");
    max-width: 562px;
    width: 100%;
    height: 342.34px;
    margin: 15px 0;
    padding: 10px;
}

.kv_sp {
    background-image: url("../img/sub_title.png");
    display: none;
}

.schedule {
    width: 100%;
    color: #FFFFFF; 
    margin-bottom: 10px;
}

.date  {
    font-family: Roboto;
    font-size: 45.87px;
    font-style: italic;
    font-weight: 700;
    text-align: left;      
}

.date-time {
    font-family: Roboto;
    font-size: 43.377px;
    font-style: italic;
    font-weight: 700;
    text-align: left;      
}

.day {
    font-family: Roboto;
    font-size: 33.36px;
    font-style: italic;
    font-weight: 700;
    line-height: 43.37px;
    text-align: left;
}

.spot {
    width: 100%;
    font-size: 29.19px;
    font-weight: 700;
    color: #FFFFFF;   
    margin-bottom: 30px; 
}

.line {
    max-width: 54px;
    width: 100%;
}

.button {
    margin-bottom: 70px;
}

.hexagon header_1,
.hexagon header_2,
.hexagon header_3,
.hexagon header_4,
.hexagon header_5 {
    display: none;
}

.hexagon header_6 {
    display: none;
}

.about_section_7 {
    width: 122.08px;
    height: 117.87px;
    top: 50%;
    left: 2%;
}
.about_section_8 {
    width: 289.06px;
    height: 279.83px;
    top: 60%;
    left: -5%;
}
.about_section_9 {
    width: 205.88px;
    height: 198.91px;
    top: 10%;
    left: 77.7%;
}
.content_section_10 {
    width: 67.49px;
    height: 65.17px;
    top: 65%;
    left: 10%;
}

.content_section_11 {
    width: 177.03px;
    height: 170.92px;
    top: 76%;
    left: -1%;
}

.content_section_12 {
    width: 235.18px;
    height: 227.67px;
    top: 20%;
    left: 74%;
}
.Exhibitors_section_13 {
    width: 289.06px;
    height: 279.83px;
    top: 50%;
    left: 2%;
}
.Exhibitors_section_14 {
    width: 205.88px;
    height: 198.91px;
    top: 5%;
    left: 77%;
}
.Exhibitors_section_15 {
    width: 67.49px;
    height: 65.17px;
    top: 80%;
    left: 77%;
    overflow: hidden;
}

.content h1 {
    color: #81D7FC;
}

.about_title {
    display: flex;
    justify-content: center;
}

.explanation {
    display: flex;
    text-align: center;
    max-width: 44vw; /* 画面幅の80% */
    width: 100%;
    margin: 30px 0;
    font-size: 22px;
    font-weight: 700;
    color: #444545;
    line-height: 36px;
}

.explanation_sbu {
    display: flex;
    max-width: 960px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #444545;
    line-height: 38px;
    margin: 0 auto;
}

.event_item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    border-bottom: 2px dotted #C4C4C4;
    padding: 20px 0;
    margin-bottom: 0px;
}

.event_access_item {
    display: flex;
    align-items: top;
    max-width: 960px;
    width: 100%;
}
.event_access_item_sub {
    display: flex;
}

.image_wrapper {
    display: flex;
    flex: 1;
    text-align: right;
}

.image_wrapper_second {
    display: flex;
    flex: 1;
    text-align: right;
    margin-bottom: 30px;
}

.image_wrapper_third {
    display: flex;
    flex: 1;
    text-align: right;
    margin-top: 20px;
    height: 55px;
}

.text_wrapper {
    display: flex;
    flex: 3;
    align-items: center;
}

#event_text {
    display: flex;
    flex: 3;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: #444545;
    padding-top: 20px;
}

#event_text_main,
#event_text_sub {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 16px;
}

.access_text_wrapper {
    max-width: 400px;
    width: 100%;
    margin-top: 30px;
}

.content .event_text_main,
.content .event_text_sub {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    color: #444545;
    text-align: left;
}

.access_text_main {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    color: #444545;
    text-align: left;   
}

.access_text_second,
.access_text_third {
    list-style-type: none;
}
.access_text_second::before,
.access_text_third::before {
    content: "⚫︎";
    color: rgba(253, 211, 92, 1);
    width: 10px;
    height: 10px;
}

.access_text_second,
.access_text_third { 
    font-size: 14px;
    font-weight: 500;
    color: #444545;
    line-height: 20px;
}

.h3 {
    padding-left: 10px;
}

.access_image_wrapper {
    width: 380px;
    height: 235px;    
    margin-top: 20px;   
}

#content_section {
    background: #FFF6DE;
    background-clip: padding-box;
    margin-bottom: 0;
    padding-bottom: 70px;

}
.content h4,
.content h5 {
    color: #FDD35C;
}

.space_image {
    display: flex;
}

.space_image img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.space_image_left,
.space_image_right {
    padding: 20px;
}

.button_second {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.oplan,
.pe-bank,
.boc-japan,
.creava,
.quartet {
    display: flex;
    flex: 1;
    max-width: 250px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.oplan img {
    display: flex;
    width: 110.25px;
    height: 30px;   
}

.pe-bank img {
    width: 223px;
    height: 19px;  
}

.boc-japan img {
    width: 266.79px;
    height: 30px;
}

.creava img {
    width: 124px;
    height: 57px;  
}

.quartet img {
    width: 103px;
    height: 42px; 
}

#picup_section {
    background: linear-gradient(to right,#FDD35C 0%,#FDD35C 5%,transparent 5%, transparent 95%,#FDD35C 95%, #FDD35C 100%);
    background-clip: padding-box;
}

.picup_item {
    display: flex;
    max-width: 968px;
    justify-content: center;
    margin: 20px 0;
}

.picup_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    flex:2;
}

.picup_wrapper img {
    width: 100%;
    height: auto;
}

.content .picup_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0;
}

.oplan_url,
.sucsak_url {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: black;
}

.sucsak_url {
    text-decoration: none;
}

.sucsak_container {
    display: flex;
}

.sucsak_container img {
    width: 95px;
    height: 21px;
}

.about_exhibitors {
    display: flex; 
}
.about_exhibitors_left,
.about_exhibitors_right {
    max-width: 460px;
    width: 100%;
    justify-content: left;
    padding: 40px;
    margin: 0 34px;
}

.about_exhibitors_left p,
.about_exhibitors_right p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    justify-content: left; 
    margin-bottom: 0    ;
}

.attention {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #444545;
    justify-content: right;   
    margin-bottom: 50px; 
}

#timeschedule_section {
    background-image:url(../img/timeschedule_background.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content h6 {
    color:#00A8F0;
}

.time_schedule_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    column-gap: 24px;
    row-gap: 18px;
    margin: 40px auto 140px auto;
}

.time_schedule_item {
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    width: 100%;
    height: 254px;
    border-radius: 5px 5px 5px 5px;
    background: #F1FBFF99;
}

.time_schedule_item_sub {
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 192px;
    border-radius: 5px 5px 5px 5px;
    background: #F1FBFF99;
}

.logo {
    position: absolute;
}

.item_phot {
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 130px;
    height: 133.76px;
}

.item_phot_second_left {
    top: 38%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 100.16px;
    height: 100.16px; 
    z-index: 3;
}

.item_phot_second_center {
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100.16px;
    height: 100.16px; 
    z-index: 2;
}

.item_phot_second_right {
    top: 38%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 100.16px;
    height: 100.16px; 
    z-index: 1;
}

.item_phot_third_left {
    top: 36%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 112.69px;
    height: 112.69px;
}

.item_phot_third_right {
    top: 36%;
    left: 72%;
    transform: translate(-50%,-50%);
    width: 112.69px;
    height: 112.69px;
}

.item_phot_force {
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 247.16px;
    height: 136px;
}

.item_phot_name {
    bottom: 38%;
    left: 11%;
    width: 239.35px;
    height: 28.38px;
}

.item_phot_second_name {
    bottom: 37%;
    left: 4%;
    width: 272.02px;
    height: 29.27px;
    z-index: 4;
}

.item_phot_x {
    bottom: 41%;
    left: 48%;
    width: 15px;
    height: 15px;
    z-index: 1;
}

.item_phot_x_left {
    bottom: 40%;
    left: 32%;
    width: 15px;
    height: 15px;
    z-index: 5;
}

.item_phot_x_right {
    bottom: 40%;
    left: 63%;
    width: 15px;
    height: 15px;
    z-index: 5;
}

.item_time {
    top: 3%;
    left: -1.5%;
    width: 88px;
    height: 31px;
}

.comment,
.comment_sub,
.comment_third {
    position: relative;
    max-width: 300px;
    width: 100%;
    top: 54%;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #444545; 
    line-height: 25px;
    padding: 0 23px;
    text-align: left;
}

#hour {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: #444545; 
    line-height: 16px;
    width: 100%;
    justify-content: left;
    margin: 12px;
    z-index: 2; 
}  

.speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fullname {
    position: absolute;
    top: 52%;
    left: -30%;
    font-size: 11.92px;
    font-weight: 700;
    line-height: 11.92px;
    letter-spacing: 0.08em;
    text-align: center;   
    color: #444545;   
    z-index: 10;  
}

#fullname_center {
    position: absolute;
    top: 54%;
    left: 0%;
    font-size: 11.92px;
    font-weight: 700;
    line-height: 11.92px;
    letter-spacing: 0.08em;
    text-align: center;   
    color: #444545;   
    z-index: 10;      
}

#fullname_right {
    position: absolute;
    top: 54%;
    left: 30%;
    font-size: 11.92px;
    font-weight: 700;
    line-height: 11.92px;
    letter-spacing: 0.08em;
    text-align: center;   
    color: #444545;   
    z-index: 10;       
}

.faq_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 70px;
    margin-right: 220px;
    margin-bottom: 50px;
}

.qa,
.qa_sub {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question,
.answer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle_blue {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: #00A8F0;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    margin-right: 20px;
}

.circle_yellow  {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: #FDD35C;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    margin-right: 20px;
}

.circle_blue span,
.circle_yellow span {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}

.qa_text {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #000000;    
}

#qa_text_link {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #000000;  
    text-decoration: none;    
}

.footer_container {
    background-color: #333333;
    padding-top: 50px;
    text-align: center;
    max-width: 1440px;
}

.footer_button {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.footer_button img {
    display: block;
    width: 100%;
    height: auto;
}

.footer_button_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    font-size: 22px;
    font-weight: 700;
    line-height: 31.86px;
    color: #FFFFFF;
}

.footer_border {
    width: 80%;
    max-width: 1192px;
    transform: translateY(-20%);
    margin: 0 auto;
}
.footer_border img {
    width: 100%;
}

.footer_logo {
    display: flex;
    justify-content: center;
}

.footer_logo img {
    max-width: 210px;
    width: 100%;
    max-height: 64px;
    height: 100px;
}

.announce {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
    margin: 40px 20px;
}

.security {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
    margin: 40px;
}

.footer_container, .footer_button, .footer_border, .footer_logo {
    border: 1px solid red; /* 仮のボーダーを設定 */
}

.application-icon {
    position: fixed;
    right: 11.5%; 
    top: 68%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.application-icon_sub {
    position: fixed;
    right: 25%; 
    bottom: 3%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    display: none;
}

@media screen and (max-width: 1090px) {
    .time_schedule_item {
        max-width: 250px;
        width: 100%;
        height: 210px;
    }
    .time_schedule_item_sub {
        max-width: 250px;
        width: 100%;
        height: 180px;
    }
    .comment,
    .comment_sub,
    .comment_third {
        font-size: 14px;
    }
    #fullname {
        font-size: 10px;
        top: 58%;
    }    
    #fullname_center,
    #fullname_right {
        font-size: 14px;
        top: 61%;
    }   
    .item_phot_second_name {
        width: 238px;
        left: 0;
        bottom: 28%;
    }
    .item_phot_second_right {
        top: 42%;
        left: 79%;
        width: 98.16px;
        height: 98.16px;
    }
    .item_phot_second_center {
        top: 42%;
        left: 50%;
        width: 98.16px;
        height: 98.16px;
    }
    .item_phot_second_left {
        top: 42%;
        left: 20%;
        width: 98.16px;
        height: 98.16px;
    }    
    .item_phot_name {
        width: 236px;
        bottom: 28%;
        left: 0%;
    }
    .item_phot_x {
        bottom: 32%;
    }
    .item_phot_x_right {
        bottom: 32%;
        left: 61%;
    }
    .item_phot_x_left {
        bottom: 32%;
        left: 32%;
    }
    .item_phot_force {
        width: 222.16px;
        height: 124px;
    }
    .item_phot_third_left {
        top: 42.5%;
        left: 26%;
        width: 106.69px;
        height: 106.69px;
    }
    .item_phot_third_right{
        top: 42.5%;
        left: 74%;
        width: 106.69px;
        height: 106.69px;
    }
    .picup_wrapper {
        display: flex;
        flex-direction: column;
        flex:2;
        max-width: 500px;
        width: 100%;
    }
    .explanation_sbu {
        max-width: 700px;
        width: 100%;
    }  
    .application-icon {
        display: none;
    }
    .about_exhibitors_left,
    .about_exhibitors_right {
        padding: 10px;
        margin: 0 34px;
    }            
}
@media screen and (max-width: 960px) {
    .faq_container {
        gap: 20px;
    }
    .qa,
    .qa_sub {
        margin:20px 0px 20px 20px;
    }
    .image_wrapper img,
    .image_wrapper_second img,
    .image_wrapper_third img  {
        max-width: 130px;
        width: 100%;
        height: 47px;
        margin-left: 10px;
        margin: 0;
    }  
    .about_exhibitors_left p,
    .about_exhibitors_right p {
        font-size: 15px;
        line-height: 37px;
    }      
}
@media screen and (max-width: 900px) {
    .picup_wrapper {
        display: flex;
        flex-direction: column;
        flex:2;
        max-width: 400px;
        width: 100%;
        height: auto;
        margin: 0 24px;
    }
    .oplan,
    .pe-bank,
    .boc-japan,
    .creava,
    .quartet {
        max-width: 170px;
        width: 100%;
        height: auto;
        margin: 0 24px;
    }  
    .event_item,
    .event_access_item {
        max-width: 800px;
        width: 100%;
        height: auto;
    }    
    .image_wrapper,
    .image_wrapper_second,
    .image_wrapper_third  {
        max-width: 130px;
        width: 100%;
        height: 47px;
        margin-left: 10px;
    }  

    .text_wrapper,
    .access_text_wrapper {
       margin-left: 30px;
    }
    #event_text,
    #event_text_main,
    #event_text_sub,
    .access_text_main {
        font-size: 18px;
        max-width: 650px;
        width: 100%;
        height: auto;
        line-height: 23px;
    }
    .access_image_wrapper {
        width: 600px;
        height: 200px;    
        margin-top: 15px;
        text-align: center;
    }
    .access_image_wrapper img {
        width: 345px;
        height: 200px;    
        margin-top: 15px;
    }
    .space_image_left,
    .space_image_right {
        padding: 10px;
    } 
    .faq_container {
        max-width: 700px;
        width: 100%;
        margin-top: 50px;
    } 
    .qa_text,
    #qa_text_link  {
        font-size: 16px;
        line-height: 24px;
    }  
    .faq_container {
        padding-left: 160px;
    } 
    .about_exhibitors_left,
    .about_exhibitors_right {
        padding: 0px;
        margin: 0 20px;
    }         
}
@media screen and (max-width: 850px) {
    .time_schedule_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .time_schedule_item ,
    .time_schedule_item_sub{
        max-width: 500px;
        width: 100%;
        height: 170px;
    }
    .item_phot {
        top: 50%;
        left: 78%;
    }
    .item_phot_force {
        width: 172.83px;
        height: 89.52px;
        top: 40%;
        left: 50%;
    }
    .item_phot_third_right {
        width: 72px;
        height: 72px;
        top: 42.5%;
        left: 88%;
    }
    .item_phot_third_left {
        width: 72px;
        height: 72px;
        top: 42.5%;
        left: 68%;
    }
    .item_phot_name {
        width: 158.28px;
        height: 18.77px;
        top: 56%;
        left: 58%;
    }
    .item_phot_x {
        top: 57%;
        left: 76%;
    }
    .item_phot_second_left {
        width: 66.83px;
        height: 66.11px;
        top: 50%;
        left: 62%;
    }
    .item_phot_second_center {
        width: 66.83px;
        height: 66.11px;
        top: 50%;
        left: 76%;
    }
    .item_phot_second_right {
        width: 66.83px;
        height: 66.11px;
        top: 50%;
        left: 90%;
    }
    .item_phot_second_name {
        max-width: 171.14px;
        width: 100%;
        height: 19.53px;
        top: 66%;
        left: 54%;
    }
    #fullname {
        font-size: 7.95px;
        line-height: 7.63px;
        top: 66.5%;
        left: 13%;
    }
    #fullname_center, #fullname_right {
        font-size: 10.01px;
        line-height: 10.01px;
        top: 67.5%;

    }
    #fullname_center {
        left: 26%;
    }
    #fullname_right {
        left: 39%;
    }
    .item_phot_x_right {
        top: 66.5%;
        left: 80%;
    }
    .item_phot_x_left {
        top: 66.5%;
        left: 68%;
    }
    .comment,
    .comment_sub,
    .comment_third {
        max-width: 227px;
        width: 100%;
        height: 54px;
        line-height: 16px;
        top: 20%;
        left: -21%;    
    }
}
@media screen and (max-width: 800px) {
    .picup_item {
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        justify-content: center;
        margin: 20px 0;
    }   
    .picup_wrapper {
        display: flex;
        flex-direction: column;
        flex:2;
        max-width: 700px;
        width: 100%;
        height: auto;
        margin: 0 24px;
    }
    .oplan_url {
        display: none;
    }
    .sucsak_container {
        justify-content: center;
    }
    .oplan,
    .pe-bank,
    .boc-japan,
    .creava,
    .quartet {
        max-width: 170px;
        width: 100%;
        height: auto;
        margin: 10px 10px;
    }   
    .explanation_sbu {
        max-width: 500px;
        width: 100%;
    }
    .image_wrapper,
    .image_wrapper_second,
    .image_wrapper_third  {
        max-width: 105.74px;
        width: 100%;
        height: 30px;
    }  
    .image_wrapper img,
    .image_wrapper_second img,
    .image_wrapper_third img  {
        max-width: 105.74x;
        width: 100%;
        height: 30px;
    }  
    .event_access_item {
        flex-direction: column;
    }
    .event_access_item_sub {
        display: flex;
    }
    #event_text,
    #event_text_main,
    #event_text_sub,
    .access_text_main {
        font-size: 14px;
        max-width: 231px;
        width: 100%;
        height: auto;
        text-align: left;
    }
    .space_image img {
        max-width: 336px;
        width: 100%;
        height: 291.2px;
    }
}
@media screen and (max-width: 700px) {  
    .space_image {
        flex-direction: column;
    }
    .button_second {
        display: none;
    }
    .faq_container {
        padding-left: 0;
        margin-right: 0;
    }
    .about_exhibitors_left,
    .about_exhibitors_right {
        margin: 0 20px;
    }       
    .about_exhibitors_left p,
    .about_exhibitors_right p {
        font-size: 12px;
        line-height: 37px;
    }    
}
@media screen and (max-width: 600px) {  
    .container {
        height: 570px; 
    } 
    .hexagon {
        display: block;
        position: absolute;
    }  
    .header_1 {
        width: 31.5px;
        height: 31.44px;
        top: 66%;
        left: 13%;
    }
    .header_2 {
        width: 77px;
        height: 76.6px;
        top: 70%;
        left: -3%;
    }
    .header_3 {
        width: 98.62px;
        height: 97.5px;
        top: 0%;
        left:88%;
    }
    .header_4 {
        width: 121.33px;
        height: 119.95px;
        top: 0%;
        left: 85%;
    }
    .header_5 {
        width: 37.81px;
        height: 37.62px;
        top: 50%;
        left: 94%;
    }
    .header_6 {
        width: 93.4px;
        height: 92.344px;
        top: 70%;
        left: 90%;
    }

    .kv {
        background-image: url("../img/kv2.png");
        max-width: 302px;
        width: 100%;
        height: 145.61px;
        margin: 15px 0;
    }
    .kv_sp {
        display: flex;
        max-width: 257px;
        width: 100%;
        height: 24.15px;        
    }
    .sub-title {
        font-size: 16px;
        font-weight: 700;
        max-width: 272px;
        width: 100%;
        height: 15px;       
        text-align: center;
        color: #FFFFFF;   
    }
    .schedule {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .date  {
        font-size: 24.95px;
    }
    
    .date-time {
        font-size: 24.95px; 
    }
    
    .day {
        font-size: 18.15px;
    }
    
    .spot {
        font-size: 15.88px;
    }
    .button,
    .explanation {
        display: none;
    }
    .content h1,
    .content h4,
    .content h5,
    .content h6 {
        font-family: Roboto;
        font-size: 26px;
        font-style: italic;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    } 
    .content p {
        display: flex;
        position: relative;
        align-items: center;
        text-align: center; 
        justify-content: center;
        font-size: 14px;
        font-weight: 700;
        color: #444545;
        line-height: 14px;
        margin-bottom: 30px; 
        width: 100%;     
    } 
    .subtitle::before,
    .subtitle::after {
        content: '';
        flex-grow: 0.3;
        border: 0.67px solid #444545;
        margin: 0 15px;
        max-width: 20px;
        width: 100%;    
    }
    .image_wrapper img,
    .image_wrapper_second img,
    .image_wrapper_third img  {
        width: 105.74px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin: 0;
    }    
    .image_wrapper_third,
    .access_text_wrapper {
        flex-direction: column;
    }
    .access_text_wrapper {
        max-width: 212px;
    }
    .access_image_wrapper {
        max-width: 345px;
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
    .attention {
       display: none;
    }
    .time_schedule_container {
       width: 345px;
    }
}
@media screen and (max-width: 500px) {
    .header  {
        background-size: 76.6px 19.93px;
    }
    #picup_section {
        background: linear-gradient(to right,#FDD35C 0%,#FDD35C 2%,transparent 2%, transparent 98%,#FDD35C 98%, #FDD35C 100%);
        background-clip: padding-box;
    }
    .picup_item {
        flex-direction: column;
        align-items: center;
        max-width: 348px;
        justify-content: center;
        margin: 20px 0;
    }
    .oplan,
    .pe-bank,
    .boc-japan,
    .creava,
    .quartet {
        max-width: 170px;
        width: 100%;
        height: auto;
        margin: 5px 5px;
    }   
    .content .picup_text {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        margin-bottom: 0;
    }  
    .explanation_sbu {
        max-width: 295px;
        width: 100%;
        font-size: 16px;
        line-height: 37px;
    } 
    .qa_sub {
        display: none;
    }
    .footer_container {
        padding: 30px 0;
    }    
    .footer_button {
        margin-bottom: 20px;
    }   
    .footer_button img {
        max-width: 250px;
        width: 100%;
        height: 40px;
    }  
    .footer_button_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
        font-size: 16px;
        line-height: 23.17px;
    }
    .footer_logo img {
        max-width: 121.64px;
        width: 100%;
        max-height: 31.65px;
        height: 100px;
    }
    .announce {
        font-size: 9.12px;
        line-height: 13.02px;
        margin: 14px 5px;
    }
    
    .security {
        font-size: 9.12px;
        line-height: 13.02px;
        margin: 14px 10px;
    }

}
@media screen and (max-width: 420px) {
    .time_schedule_item, 
    .time_schedule_item_sub {
        max-width: 354px;
        width: 100%;
        height: 103px;
    }
    .comment,
    .comment_sub,
    .comment_third {
        font-size: 16px;
        line-height: 17.6px;
    }
    .comment {
        top: 6%;
        left: -18%;
        padding: 0 11px;
    }
    .comment_sub {
        top: 6%;
        left: -30%; 
        padding: 0 11px;
        max-width: 140px;
        width: 100%; 
    }
    .comment_third {
        top: 6%;
        left: -26%; 
        padding: 0 11px;
        max-width: 172px;
        width: 100%;         
    }
    .item_phot {
        max-width: 80px;
        width: 100%;
        height: 80px;
        top: 50%;
        left: 84%;
    }
    .item_phot_third_left {
        top: 46.5%;
        left: 63%;
    }
    .item_phot_third_right {
        top: 46.5%;
        left: 86%;
    }
    .item_phot_name {
        top: 73%;
        left: 52%;        
    }
    .item_phot_second_left {
        left: 54%;
    }
    .item_phot_second_center {
        left: 71%;
    }
    .item_phot_second_right {
        left: 87%;
    }
    .item_phot_second_name {
        width: 181.49px;
        height: 19.53px;
        top: 73%;
        left: 45%;    
    }
    .item_phot_x_left {
        top: 75.5%;
        left: 61%;
    }
    .item_phot_x_right{
        top: 75.5%;
        left: 76%;
    }
    #fullname {
        top: 73.5%;
        left: 4%;
    }
    #fullname_center {
        top: 76.5%;
        left: 21%;  
    }
    #fullname_right {
        top: 76.5%;
        left: 36%;  
    }
    .item_phot_force {
        top: 52%;
    }
    .faq_container {
        margin-top: 0;
        gap: 0;
    }
    .section {
        padding-top: 20px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 390px) {
    .container {
        background-image: url("../img/fv_bg.png");
        width: 100%;
        max-width: 390px;
        height: 466px;
    } 
    .application-icon_sub {
        display: block;
    }
}