* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.application-icon {
    position: fixed;
    right: 0; 
    top: 68%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.section {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    font-family: Roboto;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    margin: 20px;
}

.content p {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center; 
    margin-bottom: 30px;       
}

.container {
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: -35.5px;
    width: 100%;
}

.container img {
    max-width: 1440px;
    max-height: 840px;
}

.header {
    position: relative;
    top: -83vh;
    width: 100%;
    padding: 13px 40px;
    display: flex;
    justify-content: flex-start;
    opacity: 1;
}

.logo {
    height: auto;
    z-index: 1;
}

.sub-title {
    position: relative;
    top: -80vh;
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;   
}

.kv {
    position: relative;
    top: -76vh;
    width: 100%;
}

.kv_sp {
    display: none;
}

.kv_sub_title {
    display: none;
}

.schedule {
    position: relative;
    top: -74vh;
    width: 100%;
    color: #FFFFFF; 
}

.date  {
    font-family: Roboto;
    font-size: 34.87px;
    font-style: italic;
    font-weight: 700;
    text-align: left;      
}

.date-time {
    font-family: Roboto;
    font-size: 34.87px;
    font-style: italic;
    font-weight: 700;
    text-align: left;      
}

.day {
    font-family: Roboto;
    font-size: 36.37px;
    font-style: italic;
    font-weight: 700;
    line-height: 43.37px;
    text-align: left;
}

.button {
    position: relative;
    top: -69vh;
}

.spot {
    position: relative;
    top: -73vh;
    width: 100%;
    font-size: 29.19px;
    font-weight: 700;
    color: #FFFFFF;        
}

.line {
    max-width: 54px;
    width: 100%;
}

#about_section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1600px;
    max-height: 1500px;
}

.content h1 {
    color: #81D7FC;

}

.about_title {
    display: flex;
    justify-content: center;
}

.explanation {
    display: flex;
    text-align: center;
    margin: calc(3vw + 2px) calc(26vw + 20px); /* 画面幅に応じてマージンを調整 */
    max-width: 44vw; /* 画面幅の80% */
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
}

.explanation_sbu {
    margin: 0 calc(14vw + 20px);
    max-width: 68vw;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 80px;
}

.event_item {
    display: flex;
    align-items: center;
    margin: 0 calc(14vw + 20px);
    max-width: 68vw;
    width: 100%;
    border-bottom: 2px dotted #C4C4C4;
    padding: 20px 0;
    margin-bottom: 0px;
}

.event_access_item {
    display: flex;
    align-items: top;
    margin: 0 calc(14vw + 20px);
    max-width: 68vw;
    width: 100%;
}

.image_wrapper {
    display: flex;
    flex: 1;
    max-width: 20%;
    text-align: right;
}

.image_wrapper_second {
    display: flex;
    flex: 1;
    max-width: 20%;
    margin-bottom: 30px;
}

.image_wrapper_third {
    display: flex;
    flex: 1;
    max-width: 20%;
    margin-top: 20px;
    margin-bottom: 400px;
}

.text_wrapper {
    display: flex;
    flex: 4;
    max-width: 80%;
    align-items: center;
    margin-right: -16px;
    padding-top: 20px;
}

.text_wrapper_second,
.access_text_wrapper {
    display: flex;
    flex-direction: column;
    flex: 4;
    max-width: 80%;
    text-align: left;
    margin-right: -16px;
}

.access_text_wrapper {
    max-width: 400px;
    width: 100%;
    margin-top: 30px;
}

.event_text {
    font-size: 22px;
    font-weight: 700;
} 

.event_text_main,
.event_text_sub {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}
.access_text_main {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    text-align: left;   
}

.access_text_second,
.access_text_third {
    list-style-type: none;
}
.access_text_second::before,
.access_text_third::before {
    content: "⚫︎";
    color: rgba(253, 211, 92, 1);
    width: 10px;
    height: 10px;
}

.access_text_second,
.access_text_third { 
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
}

.h3 {
    padding-left: 10px;
}

.access_image_wrapper {
    width: 380px;
    height: 235px;    
    margin-top: 20px;   
}

@media screen and (max-width: 390px) {
    .container {
        background-image: url("../img/Group 183.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 466px;
    }

    .header {
        padding: 10px 20px;
    }
    .logo {
        width: 76.6px;
        height: 19.93px;
    }

    .sub-title {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }    
 
    .kv {
        display: flex;
        justify-content: center;
    }

    .kv img {
        display: none;
    } 
    
    .kv_sp {
        display: flex;
    }

    .kv_sub_title {
        display: flex;
        margin-top: 20px;
    }

    .date {
        font-size: 24.95px;  
    }

    .date-time {
        font-size: 24.95px;  
    }

    .day {
        font-size: 18.15px;
    }

    .button {
        display: none;
    }

    .spot {
        font-size: 15.88px;     
    }
}
